body {
  background-color: #f3f7fa;
}

.container{

}

.logo {
  margin-top: 55px;
  margin-bottom: 50px;
}
.menu {
  background-color: white;
  height: 331px;
  width: 232px;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.currency {
  color: #41a6f5;
  font-size: 9px;
  font-weight: 550;
  padding-top: 11px;

}

.currency:hover {
  background-color: #f2fcff;
  border: 1px solid #64b5f5;
  color: #64b5f5;
}

.active {
  background-color: #64b5f5;
  color: #f2f9fe;
}

.active:hover {
  background-color: #64b5f5;
  color: #f2f9fe;

}

.btn-group {
  border: 1px solid #d2d5d6;
  border-radius: 7px;
  width: 199px;
  height: 40px;
}

.pmenu {
  font-size: 9px;
  padding-top: 16px;
  text-transform: uppercase;
  font-weight: 550;
  padding-left: 16px;
  color: #575757;
}

.form-check {
  height: 36px;
  line-height: 36px;
  font-size: 10px;
  color: #686868;

}
.form-check:hover {
  display: block;
  background-color: #f1fcff;
}

.form-check-input {
  margin-top: 11px;
  margin-left: 0px;
}

.form-check-label {
  margin-left: 21px;
}

.finfo {
  background-color: white;
  height: 161px;
  width: 566px;
  border-radius: 7px;
  margin-left: 33px;
  margin-bottom: 20px;
}
.wrapper {
  width: 200px;
  height: 160px;
  border-right: 1px solid #eceff1;
}
.turkish {
  height: 31px;
  margin-top: 28px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.btnbuy {
  background-color: #ff6d00;
  color: white;
  height: 56px;
  width: 160px;
  font-weight: bold;
  margin-left: -21px;
}

.btnbuy:hover{
  color: white;
  background-color: #ff8124;
}

.time {
  font-size: 25px;
  margin-top: 20px;
}

.city {
  font-size: 11px;
  margin-top: -15px;
}

.date {
  font-size: 11px;
  color: #959da0;
  margin-top: -15px;
}

.changes {
  font-size: 8px;
  padding-top: 27px;
  padding-left: 20px;
  text-transform: uppercase;
}

.arrtime {

}

li {
  list-style-type: none;
}

.btn-group {
  margin-left: 15px;
}
.hidden {
  display: none;
}

.plane {
  display: inline;
  width: 90px;
  margin-left: -12px;
}
