body {
  background-color: #f3f7fa;
}
.logo {
  margin-top: 55px;
  margin-bottom: 50px;
}
.menu {
  background-color: white;
  height: 331px;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-left: auto;
}

.currency {
  color: #41a6f5;
}

.currency:hover {
  background-color: #f2fcff;
  border: 1px solid #64b5f5;
  color: #64b5f5;
}

.active {
  background-color: #64b5f5;
  color: #f2f9fe;
}

.active:hover {
  background-color: #64b5f5;
  color: #f2f9fe;
}

.btn-group {
  border: 1px solid #d2d5d6;
  border-radius: 7px;
}

.pmenu {
  padding-top: 16px;
  text-transform: uppercase;
}

.form-check {
  height: 36px;
  line-height: 36px;
  display: block;
}
.form-check:hover {
  display: block;
  background-color: #f1fcff;
}


.finfo {
  background-color: white;
  height: 161px;
  width: 566px;
  border-radius: 7px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.wrapper {
  width: 200px;
  height: 160px;
  border-right: 1px solid #eceff1;
}
.turkish {
  height: 31px;
  margin-top: 28px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.btnbuy {
  background-color: #ff6d00;
  color: white;
  height: 56px;
  width: 160px;
  font-weight: bold;
  margin-left: -21px;
}

.time {
  font-size: 25px;
}

.city {
  font-size: 9px;
  margin-top: -17px;
}

.date {
  font-size: 9px;
  color: #959da0;
  margin-top: -17px;
}

.arrtime {

}

li {
  list-style-type: none;
}



.btn-group, .form-check {
  margin-left: 15px;
}
