<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Test Exercise</title>
</head>
<body>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <img src="img/logo.png" alt="IMG" class="logo">
      </div>
    </div>
  </div>

<!-- side menu-->
<div class="container">
  <div class="container d-flex justify-content-center" id="app">
    <div class="row">
      <div class="col col-lg-3">
        <div class="menu">
          <p class="pmenu">Валюта</p>
          <div class="btn-group btn-group-toggle">
            <label class="btn currency" v-bind:class="{'active': chosen.value == 'rub'}">
              <input type="radio" name="options" id="option1" autocomplete="off" value="rub" v-model="chosen.value"> RUB
            </label>
            <label class="btn currency" v-bind:class="{'active': chosen.value == 'usd'}">
              <input type="radio" name="options" id="option2" autocomplete="off" value="usd" v-model="chosen.value"> USD
            </label>
            <label class="btn currency" v-bind:class="{'active': chosen.value == 'eur'}">
              <input type="radio" name="options" id="option3" autocomplete="off" value="eur" v-model="chosen.value"> EUR
            </label>
          </div>
          <p class="pmenu">Количество пересадок</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="allStops">
            <label class="form-check-label" for="allStops">
            Все
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="zeroStops" v-model="zeroChecked">
            <label class="form-check-label" for="zeroStops">
            Без пересадок
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="oneStop" v-model="oneChecked">
            <label class="form-check-label" for="oneStop">
            1 пересадка
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="twpStops" v-model="twoChecked">
            <label class="form-check-label" for="twoStops">
            2 пересадки
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="threeStops" v-model="threeChecked">
            <label class="form-check-label" for="threeStops">
            3 пересадки
            </label>
          </div>
        </div>
      </div>

<!-- flight info -->
      <div class="col col-lg-8" >
        <div class="row finfo" v-for="ticket in tickets" v-bind:class="{hidden: ticket.stops!=0 && zeroChecked ||
                                                                                ticket.stops!=1 && oneChecked ||
                                                                                ticket.stops!=2 && twoChecked ||
                                                                                ticket.stops!=3 && threeChecked }">

          <ul class="wrapper">
            <li><img src="img/turkish.png" alt="" class="turkish"></li>
            <li><button class="btn btnbuy" v-if="chosen.value=='rub'">
                Купить <br> за {{ ticket.price }} ₽
                </button></li>
                <button class="btn btnbuy" v-if="chosen.value=='usd'">
                    Купить <br> за {{ ticket.price*0.015 }} $
                </button>
                <button class="btn btnbuy" v-if="chosen.value=='eur'">
                    Купить <br> за {{ ticket.price*0.0135 }} €
                </button>
          </ul>
          <ul>
            <li><p class="time">{{ticket.departure_time}}</p></li>
            <li><p class="city">{{ticket.origin}}, {{ticket.origin_name}}</p></li>
            <li><p class="date">{{ticket.departure_date}}</p></li>
          </ul>
          <div class="changes">
            <p>{{ticket.stops}} пересадки<br><img src="img/fly.png" class="plane"></p>
          </div>
          <ul class="arrtime">
            <li><p class="time">{{ticket.arrival_time}}</p></li>
            <li><p class="city">{{ticket.destination}}, {{ticket.destination_name}}</p></li>
            <li><p class="date">{{ticket.arrival_date}}</p></li>
          </ul>
        </div>
      </div>
</div>
</div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alasql@0.4"></script>
  <script src="js/main.js"></script>


</div></body></html>
